<header>
    <div class="logo">
        <a href="/">BibleTag</a>
    </div>
    <div class="nav">
        <a href="/articles/collections">Collections</a>
        <a href="/articles/new" class="button">Create</a>
    </div>
</header>