<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All collections</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <%- include('layouts/header') %>
    <div class="main-container">
        <h2 class="pg-title">All collections: </h2>
        <div class="flex-container-cards">
            <% for (let i = 0; i < colls.length; i++) { %>
                <div class="card">
                    <a href="/articles/collections/<%= colls[i].title %>"><%= colls[i].title %></a>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>